@model Animal_Shelter.Models.Animal

@{
    ViewData["Title"] = "Create";
}

<h1>Add Animal</h1>
<hr />
<div style="background-color:aqua"class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Breed" class="control-label"></label>
                <input asp-for="Breed" class="form-control" />
                <span asp-validation-for="Breed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaccinated" class="control-label"></label>
                <input asp-for="Vaccinated" class="form-control" />
                <span asp-validation-for="Vaccinated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Neutered" class="control-label"></label>
                <input asp-for="Neutered" class="form-control" />
                <span asp-validation-for="Neutered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoLink" class="control-label"></label>
                <input type="file" asp-for="PhotoLink" class="form-control" />
                <span asp-validation-for="PhotoLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HealthConditions" class="control-label"></label>
                <input asp-for="HealthConditions" class="form-control" />
                <span asp-validation-for="HealthConditions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoundFrom" class="control-label"></label>
                <input asp-for="FoundFrom" class="form-control" />
                <span asp-validation-for="FoundFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            @ViewBag.message
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
